<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>CoreHacks</title>
  </head>
  <body>
    <h1>CoreHacks</h1>
    <div id="popup-container"></div>
    <button hx-get="/popup" hx-target="#popup-container" hx-trigger="click" class="btn">Sign in</button>
    <div>
      <h2 class="underline">Announcements</h2>
      <p>Cards will be here...</p>
    </div>
  </body>
</html>
